# Supabase
SUPABASE_URL=XX
SUPABASE_KEY=XXXX

GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=hak-talent-mapping
GOOGLE_CLOUD_LOCATION=us-central1
ENRICHMENT_MODEL=gemini-2.5-pro
SERPER_API_KEY=
MAPBOX_ACCESS_TOKEN=
PORT=3001